[submodule "dxvk-nvapi"]
	path = dxvk-nvapi
	url = https://github.com/SveSop/dxvk-nvapi.git
[submodule "wine-nvoptix"]
	path = wine-nvoptix
	url = https://github.com/SveSop/wine-nvoptix.git
[submodule "wine-nvml"]
	path = wine-nvml
	url = https://github.com/SveSop/wine-nvml.git
